.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  max-height: 520px;
  object-fit: cover;
}

.columns > div > div:not(.columns-img-col) {
  padding: 1.5rem 1rem;
}

.columns > div > div:not(.columns-img-col) p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.columns > div > div:not(.columns-img-col) p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 2rem;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > .columns-img-col {
    width: 70%;
  }

  .columns > div > div:not(.columns-img-col) {
    order: unset;
    width: 30%;
    padding: 3rem 2rem;
  }

  .columns > div > div:not(.columns-img-col) p:nth-of-type(1) {
    font-size: 24px;
    line-height: 32px;
  }

  .columns > div > div:not(.columns-img-col) p:nth-of-type(2) {
    font-size: 18px;
    line-height: 24px;
  }
}
